<link href="../Content/bootstrap.min.css" rel="stylesheet" />
<link href="../Content/bootstrap.css" rel="stylesheet" />
<script src="../Scripts/angular.js"></script>
<script src="../Scripts/jquery-1.9.1.js"></script>
<script src="../Scripts/angular-route.js"></script>
<div class="col-md-9">

                <div id="Onimage">
                    <img src=images\vespa.jpg style="width:900px" alt="">
                
               <h2>Welcome to Bull Riders</h2></h2><h4><b><i>ride it..like you, own it..</i></b></h4><br/>
                            Book your bike today and get an exclusive offers <br /> 
                                Contact Number : +1 475-731-8871       
                                   
                    <!--<button class="btn-pricelist">View Price List-->
                        <a href="#">View Price List
                            
                        </a> </div>
                    <!--</button>-->
                
                
            </div>
